<div class="card-group">
  <div class="card">
    <div class="card-header text-center">
      Created
    </div>
    <div class="card-body">
      <ng-container *ngFor="let ticket of _tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      In progress
    </div>
    <div class="card-body">
      <ng-container *ngFor="let ticket of _tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      Testing
    </div>
    <div class="card-body">
      <ng-container *ngFor="let ticket of _tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      Done
    </div>
    <div class="card-body">
      <ng-container *ngFor="let ticket of _tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
</div>
