<div class="card-group h-100">
  <div class="card">
    <div class="card-header text-center">
      Created
    </div>
    <div class="card-body" dnd-droppable (onDropSuccess)="updateTicketStatus($event, ticketStatus.CREATED)">
      <ng-container *ngFor="let ticket of tickets?.created">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      In progress
    </div>
    <div class="card-body" dnd-droppable (onDropSuccess)="updateTicketStatus($event, ticketStatus.IN_PROGRESS)">
      <ng-container *ngFor="let ticket of tickets?.in_progress">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      Testing
    </div>
    <div class="card-body" dnd-droppable (onDropSuccess)="updateTicketStatus($event, ticketStatus.TESTING)">
      <ng-container *ngFor="let ticket of tickets?.testing">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center">
      Done
    </div>
    <div class="card-body" dnd-droppable (onDropSuccess)="updateTicketStatus($event, ticketStatus.DONE)">
      <ng-container *ngFor="let ticket of tickets?.done">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
</div>
