<div class="card">
  <div class="card-header">
    Member list
  </div>
  <div class="card-body">
    <ngx-datatable
      class="table-team"
      [columnMode]="'force'"
      [columns]="columns"
      [rowHeight]="'auto'"
      [rows]="rows"
      (activate)="showModal($event)">
    </ngx-datatable>

    <ng-template let-row="row">
      <div><strong>Address</strong></div>
      <div>{{row.address.city}}, {{row.address.state}}</div>
    </ng-template>

    <ng-template #nameTemplate let-row="row">
      <img [src]="row.picture">
      <div class="user-name-container">
        <div>{{row.firstName}} {{row.lastName}}</div>
        <div class="user-expertise">{{row.expertise}}</div>
      </div>
    </ng-template>

    <ng-template #optionsTemplate let-row="row">
      <span class="user-options"></span>
    </ng-template>
  </div>
</div>
