<div class="card-columns">
  <div class="card">
    <div class="card-header">
      Member list
    </div>
    <div class="card-body">
      <p>click on name => user info displayed</p>
      <h3>Contact</h3>
      <p>profile pic</p>
      <p>username</p>
      <p>first name</p>
      <p>last name</p>
      <p>email</p>
      <h3>Project</h3>
      <p>name</p>
      <p>role</p>
      <p>expertise</p>
      <p>open tickets</p>
      <p>effort/estimation ratio</p>
      <h3>Activity</h3>
      <p>Latest tickets</p>
      <p>Latest comments</p>
    </div>
  </div>
</div>
