<nav class="nav flex-column">
  <a class="nav-link" routerLink="/dashboard"><i class="fa fa-fw fa-home"></i>Dashboard</a>
  <a class="nav-link" routerLink="/tickets"><i class="fa fa-fw fa-tasks"></i>Tickets</a>
  <a class="nav-link" routerLink="/analytics"><i class="fa fa-fw fa-line-chart"></i>Analytics</a>
  <a class="nav-link" routerLink="/team"><i class="fa fa-fw fa-users"></i>Team</a>
  <a class="nav-link" routerLink="/settings"><i class="fa fa-fw fa-cog"></i>Settings</a>
  <a class="nav-link" routerLink="/logout"><i class="fa fa-fw fa-power-off"></i>Logout</a>
</nav>
