<div class="card-columns">
  <div class="card">
    <div class="card-header">
      Assigned tickets
    </div>
    <div class="card-body">
      Some chart
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Logged hours
    </div>
    <div class="card-body">
      Some chart
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Ticket completion
    </div>
    <div class="card-body">
      Some chart
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Effort vs. estimation
    </div>
    <div class="card-body">
      Some chart
    </div>
  </div>
</div>
