/* You can add global styles to this file, and also import other style files */
@import 'assets/css/bootstrap.min.css';
@import (reference) 'variables';

body {
  background-color: @color-background;
  font-family: @font-family;

  // card overwrites
  .card {
    box-shadow: @shadow;

    .card-header {
      font-size: @font-size-normal;
    }
  }

  // modal overwrites
  .modal {
    h6 {
      border-bottom: 1px solid @color-grey-100;
      font-size: @font-size-small;
      padding-bottom: @padding-normal;
      margin-bottom: @margin-large;
    }
  }

  // ngx-datatable overwrites
  ngx-datatable {
    font-size: @font-size-normal;
    margin-bottom: 0;

    .datatable-header {
      font-weight: bold;

      .datatable-header-cell {
        padding-left: @padding-normal;
        padding-right: @padding-normal;
      }
    }

    .datatable-body-row {
      border-bottom: 1px solid @color-grey-100;
      padding-bottom: @margin-small;
      padding-top: @margin-small;

      &:hover {
        background-color: @color-table-hover;
        cursor: pointer;
      }

      .datatable-body-cell {
        padding-left: @padding-normal;
        padding-right: @padding-normal;

        .datatable-body-cell-label span {
          position: absolute;
          top: @margin-normal;
        }
      }
    }

    .datatable-row-wrapper:first-of-type {
      .datatable-body-row {
        border-top: 1px solid @color-grey-100;
      }
    }
  }
}
