@font-family: 'Roboto', Arial, sans-serif;
@font-icon: 'FontAwesome';

@color-grey-100: #ccc;
@color-grey-200: #bbb;
@color-grey-300: #aaa;
@color-grey-400: #999;
@color-grey-500: #888;
@color-grey-600: #777;
@color-grey-700: #666;
@color-grey-800: #555;
@color-grey-900: #444;
@color-grey-1000: #333;

@font-size-normal: 14px;

@margin-normal: 10px;
@margin-small: 5px;
