@import 'assets/less/font-awesome/font-awesome';

@border-normal: 1px solid @color-grey-200;
@border-radius-normal: 3px;

@color-background: #eee;

@color-aqua-600: #00ACC1;
@color-aqua-800: #00838F;

@color-blue-600: #039BE5;
@color-blue-800: #0277BD;

@color-green-600: #7CB342;
@color-green-800: #558B2F;

@color-orange-600: #FB8C00;
@color-orange-800: #EF6C00;

@color-red-600: #E53935;
@color-red-800: #C62828;

@color-grey-100: #ddd;
@color-grey-200: #ccc;
@color-grey-300: #bbb;
@color-grey-400: #aaa;
@color-grey-500: #999;
@color-grey-600: #888;
@color-grey-700: #777;
@color-grey-800: #666;
@color-grey-900: #555;
@color-grey-1000: #444;
@color-grey-1100: #333;

@font-family: 'Roboto', Arial, sans-serif;
@font-icon: 'FontAwesome';
@font-size-normal: 14px;
@font-size-small: 12px;

@margin-normal: 10px;
@margin-small: 5px;

@padding-medium: 15px;
@padding-normal: 10px;
@padding-small: 5px;

@shadow: 0 1px 1px rgba(0,0,0,.05);
