<div class="card-columns">
  <div class="card">
    <div class="card-header">
      Project settings
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="ticketPrefix" class="col-4 col-form-label col-form-label-sm">Ticket prefix</label>
          <div class="col">
            <input class="form-control form-control-sm" id="ticketPrefix" placeholder="Enter ticket prefix">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Administration
    </div>
    <div class="card-body">
      <p>users</p>
      <p>projects</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Application settings
    </div>
    <div class="card-body">
      <p>profile</p>
      <p>dashboard</p>
    </div>
  </div>
</div>
