<div class="card-columns">
  <div class="card">
    <div class="card-header">
      Tickets
    </div>
    <div class="card-body">
      <ng-container *ngFor="let ticket of tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Recent activity
    </div>
    <div class="card-body">
      <div class="recent-activity-container">
        <ng-container *ngFor="let activity of recentActivity">
          <app-activity [activity]="activity"></app-activity>
        </ng-container>
        <div class="load-more">Show more</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Workload
    </div>
    <div class="card-body">
      Some pie chart
    </div>
  </div>
</div>
